<h1>Reset Your Password</h1>

<p>Hello <%= @user.name %>,</p>

<p>Someone requested a password reset for your account. If it wasn't you, please ignore this email.</p>

<p>To reset your password, click the link below:</p>

<%= link_to "Reset password", edit_password_url(@token) %>

<p>This link will expire in 2 hours.</p>

<p>Thanks,<br>
Your Application Team</p>
