<header class="w-full border-b border-gray-200 bg-white shadow-sm">
  <div class="container mx-auto px-4 py-2 flex justify-between items-center">
    <div>
      <%= link_to root_path, class: "text-xl font-bold text-indigo-600" do %>
        Tutuma
      <% end %>
    </div>
    
    <div class="flex items-center">
      <% if current_user %>
        <span class="mr-4 text-gray-700"><%= current_user.name %></span>
      <% end %>
      <div>
        <%= render LogoutButtonComponent.new %>
      </div>
    </div>
  </div>
</header>