<header>
  <div>
    <div>
      <%= link_to root_path do %>
        Tutuma
      <% end %>
    </div>

    <div>
      <% if current_user %>
        <span><%= current_user.account.name %></span>
      <% end %>
      <div>
        <%= render LogoutButtonComponent.new %>
      </div>
    </div>
  </div>
</header>
