<h1><%= @account.name %></h1>
<h2>Team Members</h2>

<% if current_user.admin? %>
  <%= link_to "Invite Team Members", new_invitation_path, class: "button" %>
<% end %>

<%= render(UserListComponent.new(users: @users)) %>

<%= button_to "Logout", logout_path, method: :delete, class: "logout-button" %>